# Inicialización

In [7]:
import pandas as pd
dataset_link = "https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv"

df = pd.read_csv(dataset_link)

print(df.shape) #tamaño
df.head(5) #primeras 5 filas

(150, 5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# Descripción del dataset

Como se puede ver a continuación, el dataset cuenta con 5 columnas:

- sepal length y petal length: longitudes del pétalo y sépalo respectivamente. Son variables numéricas
- sepal width y petal width: anchos respectivos del pétalo y el sépalo (también numéricas)
- class: corresponde a la clase de flor. Es categórica de 3 categorías: Iris-setosa, Iris-versicolor e Iris-virginica

In [16]:
columns = df.columns #columnas
columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

In [11]:
df["class"].unique() # valores diferentes de class (categorías)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

## Existencia de nulos

Como se puede ver no existen nulos en ninguna de sus columnas

In [17]:
for col in columns:
    print('{:}: {:}'.format(col, len(df[df["petal length"].isna()])))

sepal length: 0
sepal width: 0
petal length: 0
petal width: 0
class: 0

## Estadísticas por columna
Mostrando cantidad, promedio, desviación estándar, mínimo, máximo y percentiles

In [18]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Tipos de flor
Se cuentan la cantidad de filas por tipo de flor

In [27]:
df_cantidad_tipos = df.groupby(by = ["class"]).apply( # se puede usar la funcion agg analogamente
    lambda s: pd.Series({
        "Cantidad": len(s)
    }), include_groups=False
)
df_cantidad_tipos.reset_index(level = ["class"], inplace = True)
df_cantidad_tipos

             class  Cantidad
0      Iris-setosa        50
1  Iris-versicolor        50
2   Iris-virginica        50

Se puede ver que hay 50 de cada tipo por lo que el dataset está perfectamente balanceado